# VsCode files
.vscode
#Goland files
.idea
.idea/inspectionProfiles/
cmd/internal/
vendor
release
config.json
# IntelliJ files
*.iml

# Binaries for programs and plugins
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

*.out
.editorconfig
.github
.history
build
fmt
#docker*
.dockerignore
.DS_Store
dist
node_modules

cover.html
cover.out
coverage.txt
page.html

internal/tpl/MakeFileTest
internal/tpl/MakeFileTest.mta
#Dockerfile

integration/testdata/mta_demo/mta_archives/
docs/site
