# Golang CircleCI 2.0 configuration
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/golang:1.13.6

    environment:
    working_directory: ~/go/src/github.com/SAP/cloud-mta-build-tool
    steps:
      - checkout
      - run: go version
      - run: go env
      - run:
          name: install dependencies
          command: |
            go mod vendor
      - run: go test -v ./...
      - run: sudo chown circleci:circleci /go/bin
      - run: make tools
      - run: make lint
      - run:
          name: cov install coverge deps
          command: |
            go get golang.org/x/tools/cmd/cover
            go get github.com/mattn/goveralls
            go get github.com/modocache/gover
            go install github.com/mattn/goveralls
            go install github.com/modocache/gover
      - run: go test -v ./... -coverprofile=mta.coverprofile
      - run: gover
      - run: goveralls -v -service=circle-ci -coverprofile=gover.coverprofile -repotoken $COVERALLS_TOKEN

  test:
    docker:
      - image: shimit/mbt_multi:0.3.0
    working_directory: ~/go/src/github.com/SAP/cloud-mta-build-tool
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            go mod vendor
      - run: cf login -a $CF_API -o $ORG -s $SPACE -u $TECH_USER -p $TECH_PASS
      - run: cd integration &&  go test -tags=integration

  compliance:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/workdir
    steps:
      - checkout
      - run:
          name: compliance check
          command: |
            pip3 install --user reuse
            ~/.local/bin/reuse lint
            
  release:
    docker:
      - image: circleci/golang:1.13.3
    working_directory: ~/go/src/github.com/SAP/cloud-mta-build-tool
    steps:
      - add_ssh_keys:
          fingerprints:
            - "c3:2b:e9:bb:d5:05:32:ab:df:ce:2b:c3:e5:f7:95:42"
      - checkout
      - run:
          name: install dependencies
          command: |
            go mod vendor
      - run:
          name: bump version
          command: |
            #Make sure HEAD points to master
            git checkout master
            CURR_MBT_VERSION=$(cat ./VERSION)
            echo "Current release: ${CURR_MBT_VERSION}"
            MBT_VERSION=$(echo $CURR_MBT_VERSION | awk -F. '{$NF = $NF + 1;} 1' | sed 's/ /./g')
            echo "New release: ${MBT_VERSION}"
            #Update new version in files
            sed  -i "/\"version\":/s/${CURR_MBT_VERSION}/${MBT_VERSION}/" ./package.json
            sed  -i "/cli_version:/s/${CURR_MBT_VERSION}/${MBT_VERSION}/" ./configs/version.yaml
            sed  -i "s/${CURR_MBT_VERSION}/${MBT_VERSION}/" ./VERSION
            #Generate version file
            go generate -run "go run ./internal/buildtools/embed.go ./internal/buildtools/buildtools_msg.go -source=./configs/version.yaml -target=./internal/version/version_cfg.go -name=VersionConfig -package=version"
            #Add all updated files to commit
            git add ./package.json ./configs/version.yaml ./VERSION ./internal/version/version_cfg.go
            git config user.email "${MBT_REPO_USER_EMAIL}"
            git config user.name "${MBT_REPO_USER}"
            git commit -m "[skip ci] Bump version ${MBT_VERSION}"
            #Push commit directly to master
            git push -q https://github.com/SAP/cloud-mta-build-tool.git master
            #Tag
            git tag -a v${MBT_VERSION} -m "New release ${MBT_VERSION}"
            git push https://github.com/SAP/cloud-mta-build-tool.git v${MBT_VERSION}
            #Update new version in docker branch
            git checkout docker
            sed  -i "/ARG MBT_VERSION=/ s/${CURR_MBT_VERSION}/${MBT_VERSION}/" ./Dockerfile
            sed  -i "/- Cloud MTA Build Tool -/s/${CURR_MBT_VERSION}/${MBT_VERSION}/" ./README.md
            sed  -i "s/- ${CURR_MBT_VERSION}/- ${MBT_VERSION}/" ./test/goss/goss.yaml
            git add ./Dockerfile ./README.md ./test/goss/goss.yaml
            git config user.email "${CLOUD_MTA_BOT_EMAIL}"
            git config user.name "${CLOUD_MTA_BOT_USER}"
            git commit -m "[skip ci] Bump version ${MBT_VERSION}"
            #Push commit directly to docker branch
            git push -q https://github.com/SAP/cloud-mta-build-tool.git docker
      - run:
          name: release new version
          command: |
            #Make sure HEAD points to master
            git checkout master
            export GITHUB_TOKEN=${CLOUD_MTA_BOT_GITHUB_TOKEN}
            curl -sL https://git.io/goreleaser | bash
            
  publish:
    docker:
      - image: circleci/node:13.1.0
    working_directory: ~/go/src/github.com/SAP/cloud-mta-build-tool
    steps:
      - add_ssh_keys:
          fingerprints:
            - "c3:2b:e9:bb:d5:05:32:ab:df:ce:2b:c3:e5:f7:95:42"
      - checkout
      - run:
          name: publish to npm
          command: |
            #Make sure HEAD points to master
            git checkout master
            git fetch
            git rebase
            echo "//registry.npmjs.org/:_authToken=$CLOUD_MTA_BOT_NPM_TOKEN" > .npmrc
            npm install
            npm publish
      - run:
          name: remove dummy release tag
          command: |
            git push https://github.com/SAP/cloud-mta-build-tool.git --delete release
            
  image:
    docker:
      - image: docker:17.05.0-ce-git
    working_directory: ~/go/src/github.com/SAP/cloud-mta-build-tool
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: checkout docker branch
          command: git checkout docker
      - run:
          name: install dependencies
          command: |
            apk add --no-cache \
              py-pip=9.0.0-r1
            pip install \
              docker-compose==1.12.0
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
          paths:
            - /caches/cloud-mta-build-tool.tar
      - run:
          name: load docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/mbtci | true
      - run:
          name: build docker image
          command: |
            docker build --cache-from=mbtci -t mbtci .
      - run:
          name: save docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/mbtci.tar mbtci
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /caches/mbtci.tar
      - run:
          name: run docker tests
          command: |
            docker-compose -f ./docker-compose.test.yml up
      - run:
          name: push docker image
          command: |
            if [ "${CIRCLE_BRANCH}" == "docker" ]; then
			  echo "$CLOUD_MTA_BOT_GITHUB_TOKEN" | docker login docker.pkg.github.com -u CloudMTABot --password-stdin
			  docker tag mbtci docker.pkg.github.com/sap/cloud-mta-build-tool/mbtci:latest
			  docker push docker.pkg.github.com/sap/cloud-mta-build-tool/mbtci:latest
            fi

  ghpages:
    docker:
      - image: squidfunk/mkdocs-material:4.3.1
    working_directory: ~/go/src/github.com/SAP/cloud-mta-build-tool
    steps:
      - checkout
      - run:
          name: release to GitHub Pages
          command: |
            cd docs
            mkdocs gh-deploy --config-file ../docs/mkdocs.yml --remote-branch gh-pages

workflows:
  version: 2
  on_pr_build:
    jobs:
      - build:
          filters:
            branches:
              ignore: master
      - compliance:
          filters:
            branches:
              ignore: master
      - test:
          requires:
            - build
          filters:
            branches:
              ignore: master

  on_merge_build_test:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - compliance:
          filters:
            branches:
              only: master
      - test:
          requires:
            - build
          filters:
            branches:
              only: master

  on_tag_build_test_deploy:
    jobs:
      - build:
          filters:  # required since `release` has tag filters AND requires `build`
            tags:
              only: /release/
            branches:
              ignore: /.*/
      - test:
          requires:
            - build
          filters:  # required since `release` has tag filters AND requires `test`
            tags:
              only: /release/
            branches:
              ignore: /.*/
      - release:
          requires:
            - test
          filters:  # job runs on tag 'release' for no branches
            tags:
              only: /release/
            branches:
              ignore: /.*/
      - ghpages:
          requires:
            - test
          filters:  # job runs on tag 'release' for no branches
            tags:
              only: /release/
            branches:
              ignore: /.*/
      - publish:
          requires:
            - release
          filters:  # job runs on tag 'release' for no branches
            tags:
              only: /release/
            branches:
              ignore: /.*/
      - image:
          requires:
            - release
          filters:  # job runs on tag 'release' for no branches
            tags:
              only: /release/
            branches:
              ignore: /.*/
