#             Builders Execution Commands
# the following configuration commands will be self-contained in the tool
# to provide some known defaults for ease of use and quick start
# However, to create a clear separation between the builder's and the build tool
# the tool will support adding a path to the configuration file
# path property wins respective build commands

# Note: in the future this file will be removed from the tool

# usage: to add new command to the file, execute command `go:generate`
# The command should be executed on the root project level to regenerate the file that contain the binary (see generator.go file)


builders:
  - name: npm
    info: "installing module dependencies & remove dev dependencies"
    path: "path to config file which override the following default commands"
    type:
      - command: npm install
      - command: npm prune --production

  - name: grunt
    info: "execute grunt"
    path: "path to config file which override the following default commands"
    type:
      - command: npm install
      - command: grunt

  - name: golang
    info: "build golang application"
    path: "path to config file which override the following default commands"
    type:
      - command: go build *.go

  - name: evo
    info: "installing module dependencies & remove dev dependencies"
    path: "path to config file which override the following default commands"
    type:
      - command: npm install
      - command: npm run init
      - command: npm run build
      - command: npm prune --production

  # ---dummy build-before commands testing purpose
  - name: cds
    info: "test"
    path: "test"
    type:
      - command: npm install
      - command: npm run build

  # ---dummy commands for build-after testing purpose
  - name: cds_after
    info: "test"
    path: "test"
    type:
      - command: echo "-----------test after all modules build----------------"
